.row {
  display: block;
  width: 100%;
}

.column {
    display: inline-block;
    width: 40%;
    margin: 0 5%;
    vertical-align: top;
}

.txt-center {
    text-align: center;
}

.txt-just {
    text-align: justify;
}

.img-profile {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
    border-radius: 150px;
}