<div class="row">
  <h2 class="txt-center">Sobre</h2>
  <p class="txt-center">Saiba mais sobre a dupla de desenvolvedores</p>
  <br>
  <br>
  <div class="column">
    <img class="img-profile" src="https://media-exp1.licdn.com/dms/image/C4E03AQE1pXeuLFIDTg/profile-displayphoto-shrink_800_800/0/1615501473833?e=1621468800&v=beta&t=hB9j1gymhiw-CnnQDfObwws-chURv14ys2XRwEHDgSc" />
    <h3 class="txt-center">Nathália Lopes</h3>
    <p class="txt-center">Analista de Engenharia de TI | Itaú BBA</p>
    <p class="txt-just">Graduada em Comunicação Social - Jornalismo, com um curso técnico em Informática e inglês avançado, estou atualmente em uma nova jornada: graduação em Sistemas de Informação.<br>Atuo na área de TI desde 2016, adquirindo conhecimento e experiência com programação WEB (C#, Asp.Net/.Net Core, WCF, HTML5, CSS3, Javacript, Angular, Vue.js, PHP, Flutter, arquitetura DDD, SOAP, CQRS) e Windows Forms (VB.Net), além de Banco de Dados (SQL Server, MySQL, MongoDB).</p>
    <small class="txt-center">Acesse o perfil completo no <a href="https://www.linkedin.com/in/nathalialcoimbra/">LinkedIn</a></small>
  </div>
  <div class="column">
    <img class="img-profile" src="https://media-exp1.licdn.com/dms/image/C4D03AQG0ofaVdMCLaw/profile-displayphoto-shrink_800_800/0/1588082310646?e=1620259200&v=beta&t=fVMBGMTaJGbwDp6ow9Fil8zumRE5QJT8LkqdjoAdAIQ" />
    <h3 class="txt-center">Rafael Lima</h3>
    <p class="txt-center">Estudante de SI | Anhembi Morumbi</p>
    <p class="txt-just">Com quase 7 anos de experiência no seguimento de recepção em Hotelaria, desenvolvi grandes habilidades na comunicação interpessoal, resolução de problemas e trabalho administrativo. Sempre atuando com foco na excelência dos serviços prestados e superação de resultados, desenvolvi excelente capacidade em trabalhar de forma independente e em equipe.<br>Com 7 semestres de estudos na área de TI, tenho como objectivo adquirir experiência prática na área de Tecnologia e buscar atualizações de mercado na área de desenvolvimento e programação.</p>
    <small>Acesse o perfil completo no <a href="https://www.linkedin.com/in/rafael-lima-143ba4170/">LinkedIn</a></small>
  </div>
</div>